/* "letras" */
h5{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  color: #1F3B6F;
}

#membros h3{
  text-align: center;
  font-size: 30px;
  font-family: 'Advent Pro', sans-serif;
  color: #D7DEEA;
}

/* detalhes */
section{
  padding: 20px;
}

#membros{
  background-color: #FF6E21;
}

#membros img{
  border-radius: 50%;
}

.recPic{
  filter: grayscale(100%);
  object-fit: cover;
  border-radius: 30px;
  height: 10rem;
  width: 10rem;
  margin: auto;
}

.recPic:hover{
  filter: grayscale(0%);
}

#membros .container{
  width: 75%;
  margin: auto;
  text-align: center;
}

.item{
  margin: 0 12px;
  width: 50%;
  margin-bottom: 5rem;
}

.item li{
  margin-left: 4rem;
}

#membros .item {
  margin-bottom: 0;
}

.projeto .item img{
  height: 20rem;
  width: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

@media screen and (min-width: 379px){
  /*FONTES*/
  h5{font-size: 18px;}
  #membros h3{font-size: 24px; margin: 0; margin-bottom: 0.25rem;}
  
  #projetos .embrulho{
    flex-direction: column;
  }
  
  .item{
    width: 100%;
    margin: 5px;
    margin-bottom: 2rem;
  }

  .recPic{
    height: 3rem;
    width: 3rem;
  }
}

@media screen and (min-width: 550px){
  .recPic{
    height: 5rem;
    width: 5rem;
  }
}